.custom-header-badge { 
    background: #e56639 !important;
}
.custom-external-banner { 
    background: #fff3cd; 
    border: 1px solid #ffeeba; 
    padding: 8px; 
    margin-bottom: 8px;
    .custom-external-banner-inner { 
        color: #856404;
    }
}
